* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  min-block-size: 100vh;
}
.nabar-container {
  background-color: #2c0e3a;
  inline-size: 100%;
  padding-block-start: 15px;
  padding-block-end: 15px;
  padding-inline-start: 25px;
  padding-inline-end: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 767px) {
  .navbar-container {
    padding-inline-start: 50px;
    padding-inline-end: 50px;
    padding-block-start: 10px;
    padding-block-end: 10px;
  }
}
.website-logo-img {
  block-size: 25%;
  inline-size: 25%;
}

.score-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 767px) {
  .website-logo-img {
    margin-inline-start: 40px;
  }
  .score-container {
    margin-inline-end: 40px;
  }
}
.score-design {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
  margin-inline-end: 10px;
}
.score-count-design {
  color: #fec653;
  font-size: 20px;
}
.timer-container {
  display: flex;
  flex-direction: row;
  margin-inline-start: 10px;
  justify-content: center;
  align-items: center;
}
.timer-logo-img {
  block-size: 18px;
  inline-size: 18px;
  margin-inline-end: 5px;
}
.timer-design {
  color: #fec653;
  font-size: 20px;
  display: flex;
  align-self: center;
}

.main-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  min-block-size: 90vh;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.result-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  inline-size: 90%;
  max-inline-size: 400px;
  block-size: 500px;

  margin: auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-sizing: border-box;
}

@media screen and (min-width: 767px) {
  .result-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
    max-inline-size: 500px;
    block-size: 600px;
  }
}

.result-image {
  inline-size: 150px;
  block-size: 150px;
}
@media (min-width: 767px) {
  .result-image {
    block-size: 250px;
    inline-size: 250px;
    margin-block-start: 100px;
  }
}
.result-title {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  margin-block-start: 0px;
}

.result-title:nth-of-type(2) {
  font-size: 28px;
  margin-block-start: -8px;
}

.result-button {
  background-color: #cf60c8;
  border: none;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.result-button:hover {
  background-color: #b84db0;
}

.reset-image {
  inline-size: 20px;
  margin-inline-end: 8px;
}

.result-button-name {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.random-img {
  inline-size: 80%;
  max-inline-size: 400px;
  border-radius: 8px;
  margin-block-end: 20px;
}

.unordered-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-block-end: 15px;
}

.list-container {
  margin: 0 15px;
  cursor: pointer;
}

.tab-design {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.active-tab-design .tab-design {
  color: #fec653;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
@media (min-width: 767px) {
  .random-img {
    inline-size: 80%;
    block-size: 80%;
    max-inline-size: 800px;
    border-radius: 8px;
    margin-block-end: 20px;
  }
  .tab-design {
    font-size: 24px;
  }
}
.item-unordered-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 767px) {
  .item-unordered-list {
    inline-size: 80%;
  }
}
.item-image-design-list {
  margin: 0 15px;
  cursor: pointer;
  margin-block-end: 15px;
}
.item-liste-image {
  block-size: 100px;
  inline-size: 100px;
}
@media (min-width: 767px) {
  .item-liste-image {
    block-size: 150px;
    inline-size: 150px;
  }
}
.button {
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}
